<mat-card class="w-80 max-w-xs h-60">
    <mat-card-header class="mb-4">
        <span class="text-blue-500 absolute top-2 right-2">#{{ todo.id }}</span>
        <mat-card-title>{{ todo.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="overflow-auto">
        {{ todo.body }}
    </mat-card-content>
    <mat-card-footer class="w-full justify-between flex px-4 absolute bottom-4">
        <button mat-fab aria-label="Delete a todo" (click)="deleteTodo()">
            <mat-icon>delete</mat-icon>
        </button>
        <a class="mt-2" mat-raised-button [routerLink]="['/update-todo', todo.id]">Update</a>
    </mat-card-footer>
</mat-card>
